<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <p th:if="${param.register}">Регистрация успешна</p>
    <form action="/login" method="post">
        <div class="login">
            <p th:if="${param.error}">Неправильный логин или пароль</p>
            <h2>Login Page</h2>
            <label for="username"><b>Login</b></label>
            <input id="username" type="text" placeholder="Введите Логин" name="username" required>
            <label for="password"><b>Password</b></label>
            <input id="password" type="password" placeholder="Введите Пароль" name="password" required>
            <button class="submit" type="submit">Log in</button>
        </div>
    </form>
</div>
</body>
</html>